@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* 노멀라이징 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    text-decoration: inherit;
    color: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

img,
video {
    max-width: 100%;
    display: block;
    image-rendering: -webkit-optimize-contrast !important;

}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

/* 커스터마이징 */

html > body {
    text-underline-position: under;
    max-width: 1920px;
    font-family: 'Noto Sans KR', sans-serif ;
    color: #515151;
}

.branding_layout-wrap {
    width: 1920px;
    margin: 0 auto;
    background-color: white;
}

/* branding_main-visual */

.branding_main-visual {
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    font-family: 'Futura Bk BT';
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 20;

}

.header-wrap {  
    width: 1400px;
}


.logo {
    width: 77px;
    height: 78px;
    margin-left: 40px;
    margin-top: 10px;
   
}

.menu-wrap {
    width: 568px;
    height: 68px;
    font-size: 17px;
    color: #ffff;
    margin-right: 116px;
    
}

.menu-wrap>ul>li:not(:last-child) {
    margin-right: 64px;
}

.menu-wrap>ul>li:hover>a {
   color: #737373;

}

/* branding_main-image */

.branding_main {
    position: absolute;
}

.branding_main-decoration {
    position: absolute;
    top: 156px;
    left: 50%;
    transform: translateX(-50%);
}

/* branding-second_wrap */
.branding_second-wrap {
    width: 1920px;
    height: 1400px;
    font-size: 15px;
    letter-spacing: 6%;
    line-height: 30px;
}

.branding-second_contents{
    width: 1402px;
    height: 100%; 
}

/* branding-second_overview */

.branding-second_overview{
    width: 100%;
    height: 300px;
    margin-top: 240px;
}

.branding-second_overview > .overview-contents{
    margin-top: 56px;
  
}

.overview-contents > li:last-child{
    margin-left: 48px;
}

/* branding-second_keyword */

.branding-second_keyword{
    width: 100%;
    height: 517px;
    margin-top: 160px; 
    
}

.keyword-title{
    margin-left: 10px;
}

.keyword-title > .keword-title_detail{
    margin-left: 64px;
}

.keyword-contents{
    margin-top: 72px;
    margin-left: -20px;
}

/* branding_third-wrap */

.branding_third-wrap{
    width: 1920px;
    height: 573px;
    background-color: #F0F6F6;
}

.branding_third-wrap .branding-third_contents{
    width: 1402px; 
}

.brand-color{
    width: 1343px;
    height: 370px;
    position: absolute;
    top: 120px;
     left: 30px;

}

.brand-color_detail{
    margin-left: 200px;
    color: #474747;
}

.brand-color_items > ul {
    margin-top: 75px;
}

.brand-color_items > ul > li:not(:first-child){
 margin-left: 102px;
}

/* branding_last-wrap */

.branding_last-wrap{
    width: 1920px;
    height: 980px;
    background-color: #C7E0E1;
}

.branding_last-contents{
    width:1402px;
    height: 100%;
}

.branding_logo-design{
  position: absolute;
  top: 120px;
  left: 30px;
}

.logo-design_detail {
    margin-left: 200px;
    font-size: 16px;
    color: #444444;
}

.logo-design_contents{
    margin-top: 64px;
    margin-left: 89px;
    width: 1131px;
    height: 580px;
    position: relative;
}

 .logo-design_plus-1{
    position: absolute;
    bottom: 100px;
    left: 20px;
    z-index: 5;
 
}

.logo-design_plus-1 > div:first-child{
    width: 350px;
    height: 187px;
    
}


.logo-design_plus-1 > div:last-child {
  padding-left: 160px;
  width: 565px;
  height: 95px;
 
 }
 


.logo-design_contents .logo-design_plus-2{
    position: absolute;
    top: 30px;
    left: 440px;   

}

.logo-design_contents .logo-design_plus-3{
    position: absolute;
    top: 15%;
    right: 70px;   

}

.logo-design_plus-3 > div:last-child{
    margin-top: -80px;
    margin-left: 30px;
}

/* about-btn-wrap */
.about-btn-wrap{
    width: 1920px;
    height: 300px;
    background-color: white;
}

.about-btn-contents{
    width: 1402px;
    height: 100%;
}

.about-btn-items{
    width: 516px;
    height: 176px;
    transform: translateY(40%);
} 

.btn-items_1 > ul > li:first-child{
    margin-top: 18px;
    margin-right: 30px;
}

.btn-items_1 > ul > li:nth-child(2):hover .aboutme-btn{
 filter: drop-shadow(0px 4px 4px #98abac);
 cursor: pointer;
 transition: 0.2s ;
}

.btn-items_1 > ul > .pointer {
    margin-left: -5px;
    margin-top: 18px;
    
}

.btn-items_1 > ul > .pointer > img{
    animation: pointer 1.3s linear infinite;
}

    
   @keyframes pointer {
        0% {
            transform: translate( 0px, 0px);
        }
    
        50% {
            transform: translate( 10px, -10px);
           
        }
    
        100% {}
    }